*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

body{
    background: #e4e4e4;
}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

#sobre-mim{
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: 4rem;
    margin-right: 4rem;
}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
    color: #d1c5c0;
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    color: white;
    font-weight: 300;
    text-align: center;
    top: 30%;
}

li a::before{
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition:  0.3s ease-in-out;
    background: linear-gradient(to right, #d1c5c0, #a39a96);
}

li a:hover::before{
    width: 100%;
}

.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition:  0.3s ease-in-out;
    background: #a39a96;
}

.visit-btn:hover{
    background: #d1c5c0;
    transform: scale(1.03);
}

.dark-mode{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition:  0.3s ease-in-out;
    color: white;
    text-decoration: none !important;
    color: currentColor;
    text-decoration: none;
    box-shadow: -7px -7px 20px 0 rgb(51, 51, 51),
    7px 7px 20px 0 rgba(53, 53, 53, 0.493);
}

.dark-mode:hover{
    transform: scale(1.03);
    box-shadow: inset -7px -7px 20px 0 rgb(51, 51, 51),
    inset 7px 7px 20px 0 rgba(53, 53, 53, 0.493);
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.about img{
    width: 30vw;
    border-radius: 50%;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}

.info-box span{
    background: #a39a96;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group{
    display: flex;
    gap: 1rem;
}

.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    border: none;
    box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover{
    transform: scale(0.995);
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.socials{
    display: flex;
    gap: 2rem;
}

.socials i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover{
    transform: scale(1.1);
}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-shadow: -7px -7px 20px rgba(255, 255, 255, 0.7),
             7px 7px 20px rgba(0, 0, 0, 0.2);
}

.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img{
    width: 24vw;
    border-radius: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.grid-card{
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
    box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.grid-card:hover{
    transform: scale(0.995);
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.grid-card i{
    font-size: 1.3rem;
}
.grid-card i#java{
    font-size: 1.8rem;
}

.grid-card span{
    font-size: 1.5rem;
    font-weight: 500;
    background: #a39a96;
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background: #a39a96;
    border-radius: 2px;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
}

.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.project-card:hover{
    transform: scale(0.995);
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.project-card img{
    width: 20vw;
    border-radius: 1rem;
}

.project-card:hover .btn{
    transform: scale(1.1);
    box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.project-card:hover .btn:hover{
    transform: scale(1.1);
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.project-card h3{
    font-size: 2rem;
    font-weight: 500;
}

